<form id="form" class="login form">
    <div class="group">
        <div class="group-ipt email">
            <input type="text" name="username" id="username" class="ipt" placeholder="输入您的账号/用户名" required>
        </div>
        <div class="group-ipt password">
            <input type="password" name="password" id="password" class="ipt" placeholder="输入您的密码" required>
        </div>
    </div>
    <div class="button">
        <button  id="submit" type="submit" class="login-btn register-btn button">登录</button>
    </div>
</form>

